/* Styles for form-based generation of crossword TEI file. */

body{
  margin: 1em 10%;
}

h1, h2, div{
  text-align: center;
}

#btnFillClues, #btnGenerateTei{
  visibility: hidden;
}

div#clues{
  float: left;
  margin: 2em 1%;
  visibility: hidden;
  width: 39%;
}

div#across, div#down{
  text-align: left;
}

span.clue{
  margin-right: 0.5em;
}

span.len:before{
  content: "("
}

span.len:after{
  content: ")"
}

span.ans{
  text-transform: uppercase;
}

div#grid{
  margin-top: 2em;
}

table.grid{
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  padding: 0;
  border: solid 1px black;
}

table.grid td{
  width: 2em;
  height: 2em;
  padding: 0;
  border: solid 1px black;
  cursor: pointer;
  background-color: #ffffff;
}

span.clueNum{
  vertical-align: super;
  font-size: 70%;
  position: relative;
  top: -0.5em;
  left: -0.8em;
}